<footer class="page-footer brown darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">Bridging the gap between the expert and the learners</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Who we are</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">What we do</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">How to Find us</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright white">
    <div class="container brown-text darken-4">
      © 2018 All rights reserved!
      <a class="brown-text darken-4 right" href="#!">Powered by CodeXray Tech.</a>
    </div>
  </div>
</footer>
