<nav>
  <div class="nav-wrapper  white">
    <%= link_to root_path, class: 'brand-logo' do %>
      <i class="material-icons brown-text darken-4 link_logo">people</i>
      <i class="material-icons brown-text darken-4 link_logo">wifi</i>
      <i class="material-icons brown-text darken-4 link_logo">people</i>
    <% end %>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <%= link_to "About Us", home_about_path, {:class => "brown-text darken-4"} %></li>
      <li> <%= link_to "Services", home_about_path, {:class => "brown-text darken-4"} %></li>
      <li>
        <%= render 'partials/listlink' %>
      </li>
    </ul>
  </div>
</nav>
