<nav>
  <div class="nav-wrapper  purple darken-3">
    <a href="#" class="brand-logo">
      <i class="material-icons link_logo">people</i>
      <i class="material-icons link_logo">wifi</i>
      <i class="material-icons link_logo">people</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li> <%= link_to "About Us", home_about_path, {:class => ""} %></li>
      <li> <%= link_to "Services", home_about_path, {:class => ""} %></li>
    </ul>
  </div>
</nav>