@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  margin: 0;
  background-color: antiquewhite;
}

body > .home {
  margin-top: 100px;
}

.link_logo {
  display: inline !important;
  margin-right: -2px !important;
  font-size: inherit !important;
}

.form {
  border-style: solid;
  margin-left: 450px;
  min-height: 100px;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px 10px 10px 10px;
  margin-right: 450px;
  align-items: center;
  background-color: white;
}

h5 {
  text-align: center;
  color: white;
}

.card > ul {
  text-align: center;
}

.card {
  max-width: 300px;
  margin: 0 auto !important;
}

.btn-floating{
  margin-top: -59px;
  margin-right: 427px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
