@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  background-image:  url("79.jpg");
  background-repeat: no-repeat;
  background-size: 1450px 676px;
}

.link_logo {
  display: inline !important;
  margin-right: -2px !important;
  font-size: inherit !important;
}

.page-footer {
  margin-top: 420px;
}